<!-- ------------- NAVIGATION ------------- -->
<nav class="nav">
    <div class="nav-bar flex-row">

        <div class="nav-brand">
            
            <a href="">
                <img class="brand-logo" src="/resources/images/glitch-cursor.png" width="40">
                <span class="brand-brandname">Entropy</span>
            </a>
        </div>

        <!-- ------------- Menu used if screen <= 750px  ------------- -->
        <div class="menu">
            <div class="icons">
                <span>
                    <i class="fas fa-bars"></i>
                </span>
            </div>
        </div>

        <div>
            <ul class="nav-items">
                <li class="nav-link" id="link-home">
                    <a href="">Entropy Clicker</a>
                </li>
            </ul>
        </div>

        <button data-modal-target="#modal" class="user">
            <i class="fas fa-user-circle"></i>
        </button>
    </div>
</nav>

<div class="navbar-padding"></div>