<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entropy Clicker</title>
    <link rel="shortcut icon" type="image/x-icon" href="/resources/images/glitch-cursor.png" />

    <!-- Dependencies -->
    <%- include ("../partials/dependencies.ejs") %>

    <!-- Stylesheet reference -->
    <link rel="stylesheet" href="/css/clicker.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/popup.css">
</head>

<header>
    <!-- Navbar Import -->
    <%- include ("../partials/navbar.ejs") %>
    <script src="/js/navbar.js"></script>
</header>

<body>

    <div class="wrapper">

        <!-- Login Popup Import -->
        <%- include ("../partials/popup.ejs") %>
        <script src="/js/popup.js" onload="highlightLogin()"></script>
    
        <!-- Has to be placed AFTER the popup script -->
        <script src="js/login.js"></script>
    
        <div class="info-login">
            <img src="/resources/gifs/arrow.gif" alt="Arrow pointing Up">
        </div>
    
        <section id="section-initial">
            <h1>PLEASE LOG-IN</h1>
            <hr>
            <p>This is a game about experiencing the universe one click at a time.</p>
    
            <img src="/resources/gifs/universe.gif" alt="Picture of Universe">
    
            <p>That requires you to log in so that universes don't mix.</p>

            <p>If you see a message on top saying that you are playing in offline mode and are logged-in, it means that we have lost contact with the cloud. All your progress will be saved once connection has been reestablished.</p>
    
            <button class="btn tooltip" id="btn-offline">Play Offline
                <span class="tooltip-text">Playing Offline will save your progress locally. If you close your browser before logging-in you will lose all your progress! </span>
            </button>
    
            <section class="section-padding"></section>
        </section>
    
        <section id="section-main">
            <div class="row">
                <div class="column-left">
                    <h1>amassed energy</h1>

                    <div id="container-number-bottom"></div>
                    
                    <div class="container-info">
                        <p>Entropy Rate</p>
                        <p id="game-entropy">0 /s</p>
                        <p>Current Energy</p>
                        <p id="game-energy">0</p>
                        
                    </div>
                    
                    <hr>

                    <h1>stats</h1>

                    <p>Click Count</p>
                    <p id="game-clickCount">0</p>
                    <p>Total collected energy</p>
                    <p id="game-totalEnergy">0</p>

                    <p>Play Time</p>
                    <p id="clock"></p>

                </div>
                <div class="column-middle">
                    <h2 class="offline-error">PLAYING IN OFFLINE MODE</h2>
            
                    <h1 id="game-title tooltip">It all started with an Atom</h1>
                    <p id="game-sub tooltip">A single atom does something</p>
            
                    <hr>
            
                    <div id="container-number-top"></div>
            
                    <div class="container-img">
                        <img src="/resources/gifs/game/atom.gif" alt="Game Image" class="game-img">
                    </div>
            
                </div>
                <div class="column-right">
                    <h1>store</h1>
                    
                    <p>Entropy Collector</p>
                    <button class="btn tooltip btn-upgrade" id="btn-upgrade-1">Upgrade
                        <span class="tooltip-text" id="upgrade-txt-1">Tooltip text</span>
                    </button>

                    <p>Manual Collector</p>
                    <button class="btn tooltip btn-clickUpgrade" id="btn-clickUpgrade-1">Upgrade
                        <span class="tooltip-text" id="clickUpgrade-txt-1">Tooltip text</span>
                    </button>

                    <p>Boost Collector</p>
                    <button class="btn tooltip btn-boost" id="btn-clickUpgrade-1">Upgrade
                        <span class="tooltip-text" id="boost-txt">Tooltip text</span>
                    </button>

                </div>
            </div>
        </section>

        <div class="push"></div>
    </div>

</body>

<footer>
    <div class="class">
        <h2 class="class-title">DA376D VT21</h2>
        <p class="class-par">This website was developed as part of a course in Högskolan Kristianstad Software
            Development Program</p>
    </div>

    <div class="authors">
        <h2 class="auth-title">GROUP 12</h2>
        <h3 class="auth oj">Öjvind Nilsson</h3>
        <p class="auth-p oj">Responsible for base setup of frontend and backend</p>
        <h3 class="auth pt">Peter Tenghamn</h3>
        <p class="auth-p ao">Concept designer and assisting fullstack developer</p>
    </div>

    <div class="link">
        <h2 class="link-title">LINKS:</h2>
        <ul class="links">
            <p>Öjvind Nilsson</p>
            <li>
                <div class="container-links" id="links-ON">
                    <a href="mailto: ojvindnilsson@gmail.com"><i class="fas fa-envelope"></i></a>
                    <a href="tel:076-224-5906"><i class="fas fa-phone"></i></a>
                    <a href="https://linkedin.com/in/ojvind-nilsson-7642b28a"><i class="fab fa-linkedin"></i></a>
                    <a href="https://github.com/onilsson-hkr"><i class="fab fa-github"></i></a>
                </div>
            </li>

            <p>Peter Tenghamn</p>
            <li>
                <div class="container-links" id="links-PT">
                    <a href="tel:070-767-1487"><i class="fas fa-phone"></i></a>
                    <a href="https://www.facebook.com/peter.tenghamn"><i class="fab fa-facebook"></i></a>
                    <a href="https://github.com/petertenghamn"><i class="fab fa-github"></i></a>
                    </>
            </li>
        </ul>
    </div>

</footer>

<!-- JavaScripts that need to be loaded AFTER page load -->
<script src="js/user.js"></script>
<script src="js/clicker.js"></script>

</html>